*{
    margin: 0px;
    padding: 0px;
}
.top{
    width: 100%;
    height: 50px;
    background-color: black;
}
.top_content{
    width: 100%;
    height: 50px;
    margin: 0px auto;
    float: left;
    background-color: rgb(83, 83, 83);
}
.body{
    width: 80%;
    height: 100%;
    margin: 20px auto;
    background-color: rgb(86, 87, 86);
} 
ul.myNav{
    margin: 0px;
    padding: 10px;
    list-style-type: none;
    float: right;
}
li a:link,li a:visited{
    text-decoration: none;
    color: palegreen;
    width: 50px;
    text-align: center;
}
li a:active,li a:hover{
    color: rgba(0, 182, 45, 0.562);
}
li.nav{
    font-size: 25px;
    padding: 10px;
    display: inline;
}